Add `x509-svid` and `jwt-svid` to IANA registry for RFC 7517

Should `x509-svid` and `jwt-svid` be added to the [IANA JSON Web Key Use registry](https://www.iana.org/assignments/jose/jose.xhtml#web-key-use)? See [RFC 7517 section 8.2.1](https://www.rfc-editor.org/rfc/rfc7517#section-8.2.1) for the registration template.


Ideally it would be ... I've never been able to get a clear answer on how well we're aligned with the intention of the `use` claim. I feel our usage is in the original spirit, and we need something of this nature for safety reasons, but it doesn't seem that the original authors considered such kinds of specificity.

It would be great to get some guidance/feedback from the community on whether registration is appropriate or not