JWT - Compact Serialization

https://github.com/spiffe/spiffe/blob/master/standards/JWT-SVID.md
> **Section 5.1**
> 
> JWT-SVIDs MUST be serialized using the JWS Compact Serialization method described in RFC 7515 Section 3.1. Note that this precludes the use of a JWS Unprotected Header, as mandated in the JOSE Header section.

The above section seems to be redundant. A JWT is always compact serialized. When we say a JWT, that it self implies it is compact serialized (with JWS Compact Serialization or JWE Compact Serialization).





I'm not sure I follow @prabath. In the Introduction section of [RFC 7519](https://tools.ietf.org/html/rfc7519) "JSON Web Token (JWT)", it states:
```
   JWTs encode claims
   to be transmitted as a JSON [RFC7159] object that is used as the
   payload of a JSON Web Signature (JWS) [JWS] structure or as the
   plaintext of a JSON Web Encryption (JWE) [JWE] structure
```

[RFC 7515](https://tools.ietf.org/html/rfc7515) titled "JSON Web Signature (JWS)", referenced above, further states in Section 3 "JSON Web Signature (JWS) Overview":
```
   This document defines two serializations for JWSs: a compact, URL-
   safe serialization called the JWS Compact Serialization and a JSON
   serialization called the JWS JSON Serialization.  In both
   serializations, the JWS Protected Header, JWS Payload, and JWS
   Signature are base64url encoded, since JSON lacks a way to directly
   represent arbitrary octet sequences.
```

I understand that in practice the use of compact serialization approaches universal, however the specifications clearly state that there is an alternative. As long as 7519 and 7515 allow a serialization method _other_ than the compact serialization method, I'm afraid we need to specify which of the methods are acceptable if SPIFFE is to guarantee interoperability.

Perhaps I am missing something, but I do not see any text in either of these two documents that states that a JWT is always compact serialized.

@evan2645 this is the section from RFC7519:

> JWTs are always represented using the JWS Compact Serialization or the JWE Compact Serialization.

Hah, I completely missed that!! Thanks for the pointer. Do you have a suggestion on how you'd like to see the text change? We would probably need to reference that bit

@evan2645 I like the approach how OpenID Connect Core spec (https://openid.net/specs/openid-connect-core-1_0.html) talks about it, where ID token in OpenID Connect is also a JWT.

> All uses of JSON Web Signature (JWS) [JWS] and JSON Web Encryption (JWE) [JWE] data structures in this specification utilize the JWS Compact Serialization or the JWE Compact Serialization; the JWS JSON Serialization and the JWE JSON Serialization are not used.

So I would suggest, we remove 5.1 section completely, and add the above description at the end of the Introduction section.


There is another in the JWT-SVID spec, which is redundant.

> Only JWS is supported, and all header values MUST reside in a JWS Protected Header.

In a JWT - the entire JOSE header is protected. When we say a JWT - it implies the entire header is a Protected header.

Thanks!

Thank you for the pointer @prabath 

I have opened #118 in an attempt to address this. I didn't quite take it as far as you had suggested (some comments as to why in that PR), but I hope this is a step in the right direction. Please let us know what you think, and thanks again.